apiVersion: apps/v1
kind: Deployment
metadata:
  name: platforms-depl
spec:
  replicas: 1
  selector:
    matchLabels:
      app: platformservice
  template:
    metadata:
      labels:
        app: platformservice
    spec:
      containers:
        - name: platformservice
          image: kristiansk/platformservice:net10
          ports:
            - containerPort: 80
          env:
            - name: ASPNETCORE_URLS
              value: "http://+:80"

            # SQL Server password from your secret
            - name: SA_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: mssql
                  key: SA_PASSWORD

            # The connection string your old cluster was using
            - name: ConnectionStrings__PlatformsConn
              value: "Server=mssql-clusterip-srv,1433;Initial Catalog=platformsdb;User ID=sa;Password=$(SA_PASSWORD);TrustServerCertificate=True;Encrypt=False;"
